html, body{
  margin:0;
}

*{ box-sizing:border-box; }

[class*="col-"]{ float:left; }


.col-1{ width:8.33%; }
.col-3{ width:25%; }
.col-4{ width:33.33%; }
.col-8{ width:66.66%; }
.col-11{ width:91.66%; }
.col-12{ width:100%; }


.page{
  height: 320px;      
  padding: 10px;
}


.left{
  height: 100%;
  border: 2px solid red;
}


.right-frame{
  height: 100%;
  border: 2px solid red;
  padding: 10px;
}


.cell{
  padding: 8px;
}

.cell2{
  padding: 6px;
}


.box{
  width: 100%;
  height: 100%;
  border: 2px solid red;
}

.h-top{ height: 70px; }

.h-small{ height: 35px; }

.h-midBig{ height: 90px; }

.h-bottom{ height: 70px; }

.clear{ clear: both; }

@media (max-width: 750px){

  .col-1{
    width: 100%;
    height: auto;
    border-right: 0;
    margin-bottom: 10px;
  }

  .col-11{
    width: 100%;
    height: auto;
  }

  .right-frame .col-3,
  .right-frame .col-4,
  .right-frame .col-8,
  .right-frame .col-12{
    width: 100%;
    height: auto;
  }

  .right-frame .h-top,
  .right-frame .h-small,
  .right-frame .h-midBig,
  .right-frame .h-bottom{
    height: 70px; 
  }

  .cell{ padding: 10px 0; }
  .cell2{ padding: 10px 0; }

  .right-frame .clear{
    clear: both;
  }

 
}